<div>
    <v-data-table :headers="headers" :items="table.rows" class="elevation-1">
        <template slot="items" slot-scope="props">
            <!--<td v-show="mode==='table'" v-for="column in table.columns">
                <flex-item :object="props.item" :path="column.path"></flex-item>
            </td>-->
            <td v-show="mode==='json'">
                <tree-view :data="props.item" :options="jsnViewOptions"></tree-view>
            </td>
        </template>
    </v-data-table>
</div>