.tree-view-wrapper {
    overflow: auto;
}
/* Find the first nested node and override the indentation */
.tree-view-item-root > .tree-view-item-leaf > .tree-view-item {
    margin-left: 14px !important;
}
/* Root node should not be indented */
.tree-view-item-root {
    margin-left: 0!important;
}