<v-toolbar clipped-left app class="topbar">
    <v-toolbar-side-icon v-on:click="toggleSidebar()"></v-toolbar-side-icon>
    <v-toolbar-title>J-Feed</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
    <v-btn v-on:click="getMostRead()" flat>Most Read</v-btn>
    <v-btn v-on:click="getMostRecent()" flat>Recent</v-btn>
    <v-btn flat>About</v-btn>
    </v-toolbar-items>
    <v-btn icon v-on:click="expand=!expand" class="hidden-md-and-up"><v-icon>more_vert</v-icon></v-btn>
    <div slot="extension" v-if="expand">
        <v-divider :key="divider-0"></v-divider>
        <v-card><router-link class="nav-item" to="/"><v-card-text>Link</v-card-text></router-link></v-card>
    </div>
</v-toolbar>
